body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffd0a8;
    color: #333;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.container{
    text-align: center;
    padding: 1rem;
    border-radius: 0px;
    background-color: #fff;
    flex: 0 0 80%;
}
#quoteBtn{
    border: none;
    color: #fff;
    background: #d89156;
    font-size: 1.3rem;
    padding: 0.25 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
#quoteBtn:hover{
    color: #ffd000;
}
blockquote{
    background: #f0f0f0;
    border-left: 10px solid #fcdbbf;
    margin-top: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    padding: 0.5rem;
}
#quoteAuthor{
    color: #ffd000;
}
